
@keyframes borderAnimation {
    0% {
        box-shadow: 0 0 20px #00FF08;
        top: 0px
      }
      100% {
        box-shadow: 0 0 20px #005503;
        top:5px
      }
  }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
 /* IMPORTS - FONTES / ESTILOS   */
* { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
}
h2.title { 
    font-size: 2.8rem;
    text-align: center;
    font-weight: bold;
}
.flex { 
    display: flex;
}
/*  GERAL */
body { 
    background-color: black;
    color: white;
}
/* BODY - CORPO GERAL  */

.interface { 
    max-width: 1280px;
    margin: 0 auto;
}
/*  INTERFACE */
header { 
    padding: 40px 4%;
}
/*  HEADER */
header a { 
    color: rgba(255, 255, 255, 0.548);
    display: inline-block;
    transition: .2s;
}
header a:hover { 
    color: white;
    transform: scale(1.05);
}
/*  HEADER ANCORA  */
header > .interface { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*  HEADER INTERFACE GERAL */

header nav ul li{ 
    display: inline-block;
    margin: 1.5rem;
    cursor: pointer;
    
}
/*  HEADER NAV */

header .btn-contato button{ 
    padding: .6rem 2.1rem;
    background-color: #00FF08;
    border:none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
header .btn-contato button:hover { 
    box-shadow: 0px 0px 8px #00FF08;
} 
/* BOTÃO INTERFACE  */
header .interface .logo a { 
    font-size: 1.8rem;
    font-weight: bold;
    color: #00FF08;
}
/* LINK DA LOGO  */
.menu-principal { 
    margin: 8rem 0rem;
    padding: 0px 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
/*  MENU PRINCIPAL - TOPO DO SITE */

.ladoEsquerdo-menu-principal { 
    width: 40%;
    margin: auto;
    padding: 2rem;
}
/* LADO ESQUERDO DO MENU PRINCIPAL */
.ladoEsquerdo-menu-principal h1 { 
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 45px;
}
/* LADO ESQUERDO H1   */
span { 
    color: #00FF08;
}
/*  LADO ESQUERDO SPAN ( PONTO )  */
.ladoEsquerdo-menu-principal p { 
    margin: 2rem 0rem;
    font-size: 1.2rem;
}
/*  LADO ESQUERDO P  */
.ladoEsquerdo-menu-principal .btn-contato button { 
    padding: .8rem 2rem;
    background-color: #00FF08;
    border:none;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: .2s;
}
/* LADO ESQUERDO BOTÃO - ENTRE EM CONTATO   */
.ladoEsquerdo-menu-principal .btn-contato button:hover { 
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
}
/* HOVER DO BOTÃO ENTRE EM CONTATO  */

.ladoDireito-menu-principal { 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* LADO DIREITO DO MENU PRINCIPAL  */
.ladoDireito-menu-principal img { 
    max-width: 100%;
    border: 1px solid #00ff085d;
    border-radius: 50%;
    background-color: #00ff08d5;
    padding: .2rem;
    animation: borderAnimation 2s ease-in-out infinite alternate;
    position: relative;  
}
/*  LADO DIREITO DA IMAGEM COM [DIREITO A ANIMAÇÃO] */

section.menu-especialidades { 
    padding: 50px 1%;
    
}

.menu-especialidades .box-especialidades { 
    margin: 8rem 0rem;
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 40px;
    transition: .2s;

}
.menu-especialidades .box-especialidades:hover { 
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.466);
}
.menu-especialidades .flex { 
    gap: 2rem;
}
.menu-especialidades .box-especialidades h3 { 
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1rem 0rem;
}
.menu-especialidades .box-especialidades i { 
    font-size: 9rem;
    color:#00ff08d5;
}
.menu-especialidades .box-especialidades p { 
    color: rgba(255, 255, 255, 0.548);
    display: flex;
    align-items: flex-start;
    margin: 1rem 0rem;

}
.menu-especialidades .box-especialidades p i{ 
    font-size:0.8rem;
    
}


section.about {
    padding: 40px 4%;
}

.about .ladoEsquerdoAbout { 
    width: 40%;
    
}
.about .ladoEsquerdoAbout img { 
    max-width: 80%;
    border-radius: 10px;
}

.about .ladoDireitoAbout { 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem 0rem;
    
}
.about .ladoDireitoAbout h2 { 
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: bold;
}
.about .ladoDireitoAbout span { 
    display: block;
    text-transform: uppercase;
}
.about .ladoDireitoAbout p { 
    margin: 3rem 5rem 1rem 0rem;
    text-align: justify;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.548);
}
.about .ladoDireitoAbout .btn-social  { 
    margin: 1rem 0rem;
}
.about .ladoDireitoAbout .btn-social button { 
    width: 50px;
    font-size: 2.2rem;
    height: 50px;
    border-radius:50%;
    margin: .2rem;
    border: none;
    background: #00FF08;
    cursor: pointer;
    transition: .2s;
}
.about .ladoDireitoAbout .btn-social button:hover { 
    transform: scale(1.05);
}


    
